{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
     <link rel="stylesheet" href="{% static 'style.css' %}">
     <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    
    <title>Добавить новость</title>
</head>
<body>
    <div class='bg-info'>
	<div class="container d-flex justify-content-center ">
		
		<div class="logo-wrapper d-flex align-items-center">
			<h1>
				
					<span class="material-symbols-outlined">
					bring_your_own_ip
					</span><small class="text-danger">news</small>WoRlD
										<i class="fa-solid fa-earth-africa"></i>
					
				
			</h1>
			
				
               
				  
				
		</div>
		
		
	</div>
</div>
      <nav class="navbar navbar-expand-sm bg-dark navbar-dark ">
        <div class="container-fluid">
            <a class="navbar-brand text-danger" href="#">NeWss<span class="text-white">WoRlD</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mobileViewCollapse">
                <span class="navbar-toggler-icon">
                </span>
            </button>
            <div class="collapse navbar-collapse" id="mobileViewCollapse">
                <ul class="navbar-nav me-auto fs-4">
                    <li class="nav-item"> <a href="{% url 'home' %}" class="nav-link"> Главная </a></li>
                    <li class="nav-item"> <a href="{% url 'sport' %}" class="nav-link"> Спорт </a></li>
                    <li class="nav-item"> <a href="{% url 'technology' %}" class="nav-link"> Технологии </a></li>
					<li class="nav-item"> <a href="{% url 'business' %}" class="nav-link"> Бизнес</a></li>
                    <li class="nav-item"> <a href="{% url 'politika' %}" class="nav-link">Политика</a></li>
					<li class="nav-item"> <a href="{% url 'health' %}" class="nav-link">Здоровье</a></li>
                   
                    
                </ul>

                

            </div>
        </div>
    </nav>
    <div class="container my-4">
        <h3>Добавить Пость</h3>
        <p><a class="btn btn-success" href="{% url 'updates' %}"> Все Новести</a></p>
        <div class="card my-3">
            <h5 class="card-header">Add Post</h5>
            <div class="card-body">
                {% if messages %}
                    {% for msg in messages %}
                        <p class="text-success">{{msg}}</p>
                    {% endfor %}
                {% endif %}
                <form method="post" action="/add">
                    {% csrf_token %}
                    <table class="table table-bordered">
                        <tr>
                            <th>Тема</th>
                            <td>
                                <input type="text" name="title"class="form-control" />
                            </td>
                        </tr>
                        <tr>
                            <th>Новести</th>
                            <td>
                                <textarea name="detail"  class="form-control"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <button type="submit" class="btn btn-primary">Отправить</button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</body>
</html>