{% extends 'website/include/base.html' %}
{% block content %}
	<div class="title">
	</div>
    {%for post in news %}
	<div class="container main-news section">
		<div class="row">
			
			<div class="col-sm-12 col-md-6 col-xs-12 col-lg-6">
				 <img class="thumb mb-3"
					src="{{post.news_photo.url}}"> 
			    
				<h3>
					 <p class="font-large" href="detail.html">
					<h4>{{ post.home|safe}}</h4> 
					</p>
				</h3>
				<h3>
					 <p class="font-large" href="detail.html">
					<h4>{{ post.home|safe}}</h4> 
					</p>
				</h3>
			   
			</div>
			<div class="col-sm-12 col-md-6 col-xs-12 col-lg-6">
				<div class="row">
					<div class="col-md-6 col-sm-12 col-xs-12 col-lg-6">
						<div class="image image-sm mb-1">
							<img class="thumb" src="{{post.sport_photo.url}}">
						</div>
						<h3 class="mb-4">
							<a href="https://sport.akipress.org/news:1873422/?from=portal&place=nowread&b=1">
								{{ post.sport_title }}
							</a>
						</h3>

						<div class="image image-sm mb-1">
							<img class="thumb" src="{{post.politika_photo.url}}">
						</div>
						<h3 class="mb-4">
							<a href="https://ria.ru/20230226/zelenskiy-1854434303.html">
								{{ post.politika_title }}
							</a>
						</h3>

					</div>

					<div class="col-md-6 col-sm-12 col-xs-12 col-lg-6">
						<div class="image image-sm mb-1">
							<img class="thumb"
								src="{{post.bisiness_photo.url}}">
						</div>
						<h3 class="mb-4">
							<a href="https://www.gazeta.ru/business/2023/02/17/16269385.shtml">
							{{ post.business_title }}
							</a>
						</h3>
                         
						<div class="image image-sm mb-3">
							<img class="thumb image-sm" src="{{post.technology_photo.url}}">
						</div>
						<h3>
							<a href="https://www.gazeta.ru/tech/2023/02/24/16288993.shtml">
								{{ post.technology_title }}
							</a>
						</h3>

					</div>
				</div>
			</div>
		</div>
	</div>
	

	<div class="container section mt-4">
		<div class="section-title">
			<span>Новести</span>
		</div>
		<div class="row">
			<div class="col-sm-12 col-xs-12 col-md-3 col-lg-3">
				<div class="mb-2 image image-xs">
					<img class="thumb" src="{{ post.bisiness_photo.url }}">
				</div>
				<a href="https://www.gazeta.ru/business/2023/02/17/16269385.shtml">
					{{ post.business_title }}
				</a>
			</div>
			<div class="col-sm-12 col-xs-12 col-md-3 col-lg-3">
				<div class="mb-2 image image-xs">
					<img class="thumb" src="{{ post.politika_photo.url }}">
				</div>
				<a href="https://ria.ru/20230226/zelenskiy-1854434303.html">
					{{ post.politika_title }}
				</a>
			</div>
			<div class="col-sm-12 col-xs-12 col-md-3 col-lg-3">
				<div class="mb-2 image image-xs">
					<img class="thumb" src="{{ post.sport_photo.url }}">
				</div>
				<a href="https://prosports.kg/news/588863-reitingovyi-turnir-v-egipte-kyrgyzstanskii-borets-poteryal-soznanie-vo-vremya-shvatki#:~:text=%D0%90%D0%BB%D0%B8%D0%B1%D0%B5%D0%BA%20%D0%9E%D1%81%D0%BC%D0%BE%D0%BD%D0%BE%D0%B2%20%D0%B2%D1%8B%D1%81%D1%82%D1%83%D0%BF%D0%B0%D0%BB%20%D0%B2%20%D0%B2%D0%B5%D1%81%D0%BE%D0%B2%D0%BE%D0%B9,%D1%81%D1%85%D0%B2%D0%B0%D1%82%D0%BA%D1%83%2C%20%D0%B0%20%D0%9E%D1%81%D0%BC%D0%BE%D0%BD%D0%BE%D0%B2%20%D0%BF%D0%BE%D1%82%D0%B5%D1%80%D1%8F%D0%BB%20%D1%81%D0%BE%D0%B7%D0%BD%D0%B0%D0%BD%D0%B8%D0%B5.">
					{{ post.sport_title }}
				</a>
			</div>
			<div class="col-sm-12 col-xs-12 col-md-3 col-lg-3">
				<div class="mb-2 image image-xs">
					<img class="thumb" src="{{ post.technology_photo.url }}">
				</div>
				<a href="https://www.gazeta.ru/tech/2023/02/24/16288993.shtml">
					{{ post.technology_title }}
				</a>
			</div>
		</div>
	</div>
	{% endfor %}


	<div class="container section">
		<div class="row">
			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
				<div class="mb-4 mt-4">
					<div class="section-title">
						{% for title,desc,img,pbl,ctn,ur in mylist %}
						<span>Latest Updates</span>
					</div>
					<div class="row mb-3 bb-1 pt-0">
						<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
							<img class="thumb" src="{{ img }}">
						</div>
						<div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
							<h5>
								<a href="{{ur}}">
									{{title}}
								</a>
							</h5>
							<small>{{ pbl }}</small>
							<p class="summary pt-3">{{ctn}}</p>
						</div>
					{% endfor %}
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<div class="trending mt-4">
					<div class="section-title">
						<span>Trending</span>
					</div>
					<div class="row">
						<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
							<img class="thumb" src="https://letzcricket.com/uploads/news/Pk9jw3Z9iv8EBLxE.jpg">
						</div>
						<div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
							<a href="detail.html">
								Paras Khadka retires from international cricket
							</a>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
							<img class="thumb" src="https://letzcricket.com/uploads/articles/dddNsPXVC6f5bmI5.jpg">
						</div>
						<div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
							<a href="detail.html">
								Can Rohit be next Sehwag in Indian Test Cricket
							</a>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
							<img class="thumb" src="https://letzcricket.com/uploads/news/vGWpKyVU7jHXz5K8.png">
						</div>
						<div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
							<a href="detail.html">
								India win series despite Sam Curran's Heroics
							</a>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
							<img class="thumb" src="https://letzcricket.com/uploads/news/ZqXXlQDeCffne57g.jpg">
						</div>
						<div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
							<a href="detail.html">
								Domestic Cricket Changing the Face of Nepali Cricket
							</a>
						</div>
					</div>
					<div class="row">
						<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
							<img class="thumb" src="https://letzcricket.com/uploads/news/rTv8qzdEizH8HSTE.png">
						</div>
						<div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
							<a href="detail.html">
								Afridi to play Everest Premier League from Kathmandu Kings
							</a>
						</div>
					</div>
				</div>
				
			</div>
		</div>
		
	</div>
	
 <div class="container  my-4 col-3 ">
        <div class="justify-content-sm-center ">
            <a class="btn btn-primary" style="background-color: #ac2bac;"
                href="https://www.youtube.com/channel/UCxWibleqOswc-rMZMtg6d6g" role="button"><i
                    class="fab fa-instagram"></i></a>
            <a class="btn btn-primary" style="background-color: #25d366;" href="https://wa.me/+996779858216"
                role="button"><i class="fab fa-whatsapp"></i></a>
            <a class="btn btn-primary" style="background-color: #ed302f;"
                href="https://www.youtube.com/channel/UCxWibleqOswc-rMZMtg6d6g" role="button"><i
                    class="fab fa-youtube"></i></a>
            <a class="btn btn-primary" style="background-color: #13b8eb;" href="https://t.me/arzymatarkabaev1"
                target="blank" role="button"><i class="fab fa-telegram"></i></a>
            <a class="btn btn-primary" style="background-color: #3b5998;"
                href="https://www.facebook.com/profile.php?id=100012899505781" role="button"><i
                    class="fab fa-facebook-f"></i></a>
        </div>

    </div>
	</div>
	

{% endblock %}





