{% extends 'website/include/base.html' %}
{% block content %}
 {% for post in news %}
    <div class="container main-news">
        <div class="row">
             {% for title,desc,img,pbl,ctn,ur in mylist %}
            <div class="col-6">

                <div class="mb-4 mt-4 section">
                    <div class="section-title">
                        
                    </div>
                   
                    <div class="row mb-3 bb-1 pt-0">
                        <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12">
                            <img class="thumb" src="{{ img }}">
                        </div>
                        <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                            <h5>
                                <a href="{{ ur }}">
                                    {{title}}
                                </a>
                            </h5>
                            <small>{{ ctn }}</small>
                            <p class="summary pt-3">{{ pbl}}</p>
                        </div>
                    </div>
                    
                </div>
            </div>
            {% endfor %}
         
                {% endfor %}
            </div>
            <div class="container  my-4 col-3 ">
        <div class="justify-content-sm-center ">
            <a class="btn btn-primary" style="background-color: #ac2bac;"
                href="https://www.youtube.com/channel/UCxWibleqOswc-rMZMtg6d6g" role="button"><i
                    class="fab fa-instagram"></i></a>
            <a class="btn btn-primary" style="background-color: #25d366;" href="https://wa.me/+996779858216"
                role="button"><i class="fab fa-whatsapp"></i></a>
            <a class="btn btn-primary" style="background-color: #ed302f;"
                href="https://www.youtube.com/channel/UCxWibleqOswc-rMZMtg6d6g" role="button"><i
                    class="fab fa-youtube"></i></a>
            <a class="btn btn-primary" style="background-color: #13b8eb;" href="https://t.me/arzymatarkabaev1"
                target="blank" role="button"><i class="fab fa-telegram"></i></a>
            <a class="btn btn-primary" style="background-color: #3b5998;"
                href="https://www.facebook.com/profile.php?id=100012899505781" role="button"><i
                    class="fab fa-facebook-f"></i></a>
        </div>
        </div>
    </div>

  {% endblock %}  